<h1>SHOUTER.CO</h1>

<table>
  <thead>
    <tr>
      <th>shouts</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shouts.each do |shout| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

        <td><%= shout.content %></td>
        <td><%= link_to 'erase', shout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shout', new_shout_path %>
